[user]
	name = Christian Castelli
	email = christian.castelli@docebo.com
[pull]
	rebase = true
	ff = only
[core]
	excludesfile = /Users/christian.castelli/.gitignore_global
	editor = vim
[commit]
	template = /Users/christian.castelli/.stCommitMsg
[init]
	defaultBranch = maintenance/weekly-70
[http]
	sslVerify = true
[alias]
	b = branch
	c = commit
        cm = commit -m
        cma = commit -a -m
        ca = commit --amend
        caa = commit -a --amend -C HEAD
        r = reset
	rh = reset --hard
	co = checkout
	d = diff
	s = status -bs
	conflicts = diff --name-only --diff-filter=U
	parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
[push]
	autoSetupRemote = true
[fetch]
        prune = true
